@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cutive&family=Cutive+Mono&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;400;700&display=swap');
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


.hero-section {
    background-color: black;
    height: 70em;
    flex-direction: column;
}



h1 {
    position: relative;
    top: 40%;
    font-family: 'Abel', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7em;
    background: linear-gradient(
        to right,
        #4c00f1 20%,
        #00faed 30%,
        #002fff 70%,
        #5e19ff 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 2s ease-in-out infinite alternate;
}
    

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.teal {
    color: turquoise;
}

.blue {
    color: blue;
}

.pink {
    color: hotpink;
    margin-right: 0.2em;
}

.arrow-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10em;
    width: 10em;
    top: 50%;
    left: 45.5%;
 }

.arrow {
    position: relative;
    width: 40px;
    height: 40px;
    border-top: 4px solid white;
    border-left: 4px solid #fff;
    transform: rotate(1deg);
    animation: arrow-load 2s infinite;
}


.arrow:nth-child(1) {
    
    animation-delay: -0.4s;
}

.arrow:nth-child(2) {
    animation-delay: -0.2s;
}

@keyframes arrow-load {
    0% {
        opacity: 0;
        transform: rotate(-135deg) translateY(0px);
    }
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(-135deg) translateY(0px);
    }
}


.red-rocks {
    height: 65em;
    background-position: 60% 40%;
    background-repeat: no-repeat;
    background-image: url('assets/red_rocks.jpg');
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
    
}

.red-rocks-heading {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-style: italic;
    position: relative;
    left: 62%;
    top: 10%;
    width: 10em;
    font-size: 5em;
}

.red-rocks-text {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: italic;
    font-size: 3.5em;
    width: 25em;
    line-height: 1.5em;
    margin-left: 1em;
    margin-top: 3em;
}

.lari-lounge {
    height: 65em;
    background-color: aqua;
    background-position: 60% 40%;
    background-repeat: no-repeat;
    background-image: url('assets/larimer_lounge.jpg');
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: darken;
}

.lari-lounge-header {
    color: rgb(201, 201, 201);
    font-family: 'Poiret One', sans-serif;
    font-size: 5em;
    position: relative;
    left: 5%;
    top: 1em;
    height: 2em;
}

.lari-lounge-text {
    color: rgb(201, 201, 201);
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    width: 25em;
    font-size: 3em;
    margin-top: 3em;
    margin-left: 1.8em;
    line-height: 1.5em;
}

.black-box {
    height: 70em;
    background-position: 75% 40%;
    background-repeat: no-repeat;
    background-image: url('assets/black_box.jpg');
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.black-box-header {
    font-family: 'Cutive', serif;
    color: white;
    text-align: center;
    font-size: 3em;
    width: 10em;
    padding-top: 2em;
}

.black-box-text {
    font-family: 'Cutive Mono', serif;
    color: white;
    text-align: center;
    font-size: 2em;
    width: 30em;
    padding: 2em;
    line-height: 1.5em;
}
